body{
	background: #e6e6e6;
	margin: 0;
}
.divMedia {
    background: #e6e6e6;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    margin:auto;
    margin-top: 70px;
}

div{
    background: #e6e6e6;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    margin:auto;
    margin-top: 70px;
}

form{
	padding: 10px 10px 10px 75px;
	font-family:'Montserrat',sans-serif;
}

h2{
	margin: 10px 0px;
	padding-bottom: 10px;
	width: 90%;
	color: #9C1D3A;
	border-bottom: 3px solid #9C1D3A;
}

fieldset {   
	-moz-border-radius: 10px;  
	border-radius: 10px;  
	-webkit-border-radius: 10px;
	margin: 10px 10px 10px 10px;
}

legend{
	color: #9C1D3A;
}

.campoPequeno {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat',sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #848484;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}
.inputPequeno {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat',sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #848484;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}

.inputMedio {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat',sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #848484;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}

input{
	width: 80%;
	padding: 10px;
	box-sizing: border-box;
	background: none;
	outline: none;
	resize: none;
	border: 0;
	font-family: 'Montserrat',sans-serif;
	transition: all .3s;
	border-bottom: 2px solid #848484;
	border-radius: 10px;
	margin: 10px 10px 10px 10px;
}

input[type=date]{
	width: 30%;
}

.selectPequeno {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    /*background: none;*/
    border: 0;
    font-family: 'Montserrat',sans-serif;
    /*transition: all .3s;*/
    border-bottom: 2px solid #848484;
/*    border-radius: 10px;*/
    /*margin: 10px 10px 10px 10px;*/
}

.selectMedio {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    border: 0;
    font-family: 'Montserrat',sans-serif;
    /*transition: all .3s;*/
    border-bottom: 2px solid #848484;
    border-radius: 10px;
}

.selectGrande {
    width: 65%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    border: 0;
    font-family: 'Montserrat',sans-serif;
    /*transition: all .3s;*/
    border-bottom: 2px solid #848484;
    border-radius: 10px;
}

select{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	background: none;
	outline: none;
	resize: none;
	border: 0;
	font-family: 'Montserrat',sans-serif;
	transition: all .3s;
	border-bottom: 2px solid #848484;
	border-radius: 10px;
	margin: 10px 10px 10px 10px;
}

input:focus{
	border-bottom: 2px solid #9C1D3A;
}

.novoLabel {
    margin: 10px 0 0;
    margin-left: 70px;
    font-family: 'Montserrat',sans-serif;
    color: #9C1D3A;
    font-weight: bold;
}

label{
	margin: 10px 0 0;
	font-family: 'Montserrat',sans-serif;
	color: #9C1D3A;
	font-weight: bold;
}

button{
	padding: 8px 12px;
	margin: 0px 5px;	
	font-family: 'Montserrat',sans-serif;
	color: #fff;
	cursor: pointer;
	transition: all .3s;
	border-radius: 10px;
}

.campoFiltro{
	width: 40%;
}

.selectFiltro{
	width: 20%;
}

.btnSalvar{
	float: right;
	border: 2px solid #088A29;
	background: #088A29;
}

.btnEntrar{
	float: right;
	border: 5px solid #088A29;
	background: #088A29;
}

.btnSalvar:hover{
	background: #01DF3A;
	font-weight: bold;
}

.btnEntrar:hover{
	background: #01DF3A;
	font-weight: bold;
}

.btnCancelar{
	float: right;
	border: 2px solid #DF0101;
	background: #DF0101;
}

.btnCancelar:hover{
	background: #FA5858;
	font-weight: bold;
}

.btnAlterar{
	float: right;
	border: 2px solid #088A29;
	background: #088A29;
}

.btnAlterar:hover{
	background: #01DF3A;
	font-weight: bold;
}

.btnAdicionaE{
	float: right;
	border: 2px solid #088A29;
	background: #088A29;
}

.btnAdicionaE:hover{
	background: #01DF3A;
	font-weight: bold;
}

.btnExcluir{
	float: right;
	border: 2px solid #DF0101;
	background: #DF0101;
}

.btnExcluir:hover{
	background: #FA5858;
	font-weight: bold;
}

.btnBuscar{
	padding: 8px 12px;
	margin: 0px 5px;	
	font-family: 'Montserrat',sans-serif;
	color: #fff;
	cursor: pointer;
	transition: all .3s;
	border-radius: 10px;
	background: #0080FF;
	border: 2px solid #0080FF;
}

.btnBuscar:hover{
	background: #2E9AFE;
	font-weight: bold;
}

/* tabela */
table {
	border: 2px solid #9C1D3A;
	border-radius: 10px;
	margin: 5px 0px 5px 0px;
	width: 90%;
	text-align: left;
}

table td, table th {
	border: 1px;
	padding: 3px 2px;
}

table tbody td {
	font-size: 13px;
	
}

/*table tr:nth-child(even) {
	background: #D8D8D8;
}*/



table tfoot {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background: #D0E4F5;
	background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	border-top: 2px solid #444444;
}

table tfoot td {
	font-size: 14px;
}

table tfoot .links {
	text-align: right;
}
