
	a:hover									{text-decoration:none;}
	strong									{font-weight:bold;}
	em											{font-style: italic;}
	h1,h2,h3,h4,h5,h6				{font-weight:bold;}
	h1											{font-size:197%; margin:30px 0; color: #4f6f6c;}
	h2											{font-size:174%; margin:20px 0; color:#4f6f6c;}
	h3											{font-size:152%; margin:10px 0;}
	h4											{font-size:129%; margin:10px 0;}
	pre 										{background:#eee; margin:0 0 20px; padding:20px; border:1px solid #ccc; font-size:100%; overflow:auto;}
	code										{font-size:100%; margin:0; padding:0;}
	ul, ol									{margin:10px 0 10px 25px;}
	ol li										{margin:0 0 10px;}

	
	div#header								{position:relative; border-bottom:1px dotted; margin:0 0 10px; padding:0 0 10px;}
	div#header p							{margin:0; padding:0;}
	div#header h1							{margin:0; padding:0;}
	ul#nav										{position:absolute; top:0; right:0; list-style:none; margin:0; padding:0;}
	ul#nav li									{display:inline; padding:0 0 0 5px;}
	ul#nav li a								{}
	div#content								{}
	div#footer								{margin:40px 0 0; border-top:1px dotted; padding:10px 0 0;}
	.left {float:left;}
	.right {float:right;}
	.clear {clear:both;}
	
	
	/* multiselect styles */
	.multiselect {
		width: 600px;
		height: 200px;
	}
	
	#switcher {
		margin-top: 20px;
	}
	
	form {margin: 0; padding: 0;}
